.main-title {
  text-align: center;
  font-size: 2rem; /* 32px */
  padding: 1.25rem 0; /* 20px 0px */
  text-decoration: underline;
  text-decoration-thickness: 0.125rem; /* 2px */
  text-underline-offset: 0.3125rem; /* 5px */
}

.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 18.75rem); /* 300px */
  grid-template-rows: repeat(2, 18.75rem); /* 300px */
  row-gap: 6.25rem; /* 100px */
  column-gap: 4.375rem; /* 70px */
  justify-content: center;
  padding: 1.875rem 0; /* 30px 0px */
}

@media (max-width: 1280px) {
  .main-content {
    grid-template-columns: repeat(2, 18.75rem); /* 300px */
    grid-template-rows: repeat(4, 18.75rem); /* 300px */
  }
}

@media (max-width: 700px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 18.75rem); /* 300px */
    row-gap: 3.125rem; /* 50px */
  }
}

.card {
  width: 18.75rem; /* 300px */
  height: 16rem; /* 300px */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-0.625rem); /* 10px */
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.3); /* 10px 25px */
}
