.main-title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.main-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    row-gap: 100px;
    column-gap: 70px;
    justify-content: center;
    padding: 30px 0px;
}

.card {
  width: 300px;
  height: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.avatar {
  background-color: #1976d2;
}

.content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: auto;
}

.icon {
  font-size: 2rem;
  color: #1976d2;
}
