.header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #CE3A3E;
    z-index: 1000;
    color: #E8EBEF;
    padding: 5px;
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    align-items: center;
}
.menu {
    align-items: center;
    padding-left: 5px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 40px;
}

.items {
    display: flex;
    align-items:center;
    justify-content: right;
    padding-right: 5px;
    gap: 10px;
}

:global(.MuiIconButton-root).button {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid #E8EBEF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease;
}

:global(.MuiIconButton-root).button:hover {
    background-color: #773850;
}

.avatar:hover {
    cursor: pointer;
    transform: scale(1,1);
    border: 1px solid white;
}


