.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #CE3A3E;
    z-index: 1000;
    padding: 5px;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    align-items: center;
}

.menu, .title, .title-container, .items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    gap: 15px;
    margin-right: 150px;
}

.title-container {
    width:auto;
    height: 50px;
    background-color: white;
    gap: 15px;
    padding: 0px 10px;
}

.title-container:hover {
    cursor: pointer;
    background-color: #E8EBEF;
    opacity: 1;
}

.title-logo {
    max-width: 40px;
    height: 40px;
    object-fit: contain;
}

.title-text {
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.program-name {
    font-size: 20px;
    width: 120px;
    height: 27px;
    text-align: center;
    background-color: white;
    color:black;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.program-name:hover{
    cursor: pointer;
}

.items {
    gap: 15px;
    margin-left: 80px;
}

.button {  
  width: 35px;
  height: 35px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover .icon{
    color: #773850;
}

.avatar:hover {
    cursor: pointer;
    transform: scale(1,1);
    border: 1px solid white;
}


