.footer {
  height: 60px;
  width: 100%;
  background-color: #E8EBEF;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  border-top: 1px solid #ccc;
}

.left {
  display: flex;
  margin-left: 10px;
}

.logo {
  width: 200px;
  height: 50px;
  object-fit: contain;
}

.center {
  text-align: center;
  flex-grow: 1;
  font-size: 14px;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 8px;
}

.right a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease;
}

.right a:hover {
  color: #ce3a3e;
}

.separator {
  color: #000;
  opacity: 0.6;
}
